<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="../../user-profile">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content>

    <div class="form-question">
      <ion-label>Upload a photo of yourself:</ion-label>
    </div>
    <div class="form-container">
      <img src="{{fileUrl || displayPhoto}}">
    </div>

    <div class="form-submit" *ngIf="!file">
      <ion-button size="large" class="fileUpload">
        <span>Upload</span>
        <input type="file" accept="image/*" class="upload" (change)="upload($event)"/>
    </ion-button>
    </div>
    <div class="form-submit" *ngIf="file">
      <ion-button size="large" (click)="uploadImage()">Update</ion-button>
    </div>

</ion-content>
