<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="../../user-profile">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="updateBio()">
    <div class="form-question">
      <ion-label>What type of passenger are you?</ion-label>
    </div>
    <div class="form-container">
      <div class="form-div">
        <textarea placeholder="Write a little about yourself. Do you like chatting? Are you a smoker? Do you bring pets with you? Etc." formControlName="bio">{{bio}}</textarea>
      </div>
    </div>

    <div class="form-submit">
      <ion-button class="submitButton" expand="full" size="large" type="submit" [disabled]="!userForm.valid">Update</ion-button>
    </div>
  </form>
</ion-content>
