<ion-content [fullscreen]="false">
  <div class="profile-container">
    <div class="profile-content">
      <div class="profile-header">
        <ion-label>Edit Profile</ion-label>
      </div>
      <div routerLink="./edit-profile-picture" class="profile-picture">
          <img src="{{user?.photoURL}}">
          <div class="profile-picture-edit-icon"><ion-icon name="pencil-outline"></ion-icon></div>
      </div>
      <ion-list>  
        <ion-label class="profile-data-headers">
          Name
        </ion-label>
        <ion-item class="profile-data-item" routerLink="./edit-name">
          <ion-label class="profile-data">
            {{user?.fullName.firstName + " " + user?.fullName.lastName}}
          </ion-label>          
          <ion-icon  name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-label class="profile-data-headers">
          Phone
        </ion-label>
        <ion-item class="profile-data-item" routerLink="./edit-phone">
          <ion-label class="profile-data">
            {{user?.phone}}
          </ion-label>
          <ion-icon  name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-label class="profile-data-headers">
          Email
        </ion-label>
        <ion-item class="profile-data-item" routerLink="./edit-email">
          <ion-label class="profile-data">
            {{user?.email}}
          </ion-label>
          <ion-icon  name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-label class="profile-data-headers">
          Tell us about yourself
        </ion-label>
        <ion-item class="profile-data-item" routerLink="./edit-bio">
          <ion-label text-wrap class="profile-data" style="height: 100px;">
            {{user?.bio}}
          </ion-label>
          <ion-icon  name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-list>  
    </div>
  </div>

</ion-content>
